<div class="new-run__page">
  <h1 class="page-title">New Run</h1>
  <form {{action "addRun" on="submit"}} class="new-run__form">
    {{input class="input-field" type="data" placeholder="Run Time" value=time}}
    {{input class="input-field" type="data" placeholder="Race Date" value=date}}
    {{textarea class="input-field" type="text" placeholder="Race Notes" value=notes}}
    <div class="button-wrapper">
      {{#link-to "index"}}
        <button type="button" class="cancel-btn form-btn">Cancel</button>
      {{/link-to}}
      <button type="submit" class="save-btn form-btn">Save</button>
    </div>
  </form>
</div>

{{outlet}}
